
<h1>Your Issues</h1>

<a href="/add">Click here to Add New Item</a>
<div> Pets</div>
<ol>
    {{#each petInDbObj}}
    <li>
        <a href ="/{{_id}}">Name: {{name}}</a>
        <a href ="/{{_id}}">Type: {{type}}</a>
        <a href ="/{{_id}}">Age: {{age}} Years</a>
        <a href ="/{{_id}}">Gender: {{gender}}</a>
        <a href ="/{{_id}}">Status: {{status}}</a>
    </li>
    {{/each}}
</ol>

<div> Shops</div>
<ol>
    {{#each locationsInDbObj}}
    <li>
        <a href ="/{{_id}}">State: {{state}}</a>
        <a href ="/{{_id}}">City: {{city}}</a>
        <a href ="/{{_id}}">Hour Start: {{hourStart}}</a>
        <a href ="/{{_id}}">Hour End: {{hourEnd}}</a>
    </li>
    {{/each}}
</ol>

<div> Sales</div>
<ol>
    {{#each salesInDbObj}}
    <li>
        <a href ="/{{_id}}">Month: {{month}}</a>
        <a href ="/{{_id}}">Year: {{year}}</a>
        <a href ="/{{_id}}">Sales: {{amount}}</a>
    </li>
    {{/each}}
</ol>