
<h1 id="riley">Riley's Animal World!</h1>
<div class="containerBg"> 
    <div class="petListCont">
        <a href="/addPet">Click here to Add New Pet!</a>
        <div> Pets</div>
        <ol >
            {{#each petInDbObj}}
            <li class="petListItems">
                <a href ="/pet/{{_id}}">Name: {{name}}</a>
                <p>Type: {{type}}</p>
                <p>Age: {{age}} Years</p>
                <p>Gender: {{gender}}</p>
                <p>Status: {{status}}</p>
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="shopListCont">
        <a href="/addShop">Click here to Add New Stores!</a>
        <div> Shops</div> 
        <ol>
            {{#each locationsInDbObj}}
            <li class="shopListItems">
                <a href ="/shop/{{_id}}">Name: {{name}}</a>
                <p>State: {{state}}</p>
                <p>City: {{city}}</p>
                <p>Start Time: {{hourStart}}</p>
                <p>End Time: {{hourEnd}}</p>                            
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="saleListCont">
        <a href="/addSale">Click here to Add New Sales</a>
        <div> Sales</div>
        <ol class="saleListItems">
            {{#each salesInDbObj}}
            <li>
                <a href ="/sale/{{_id}}">Month: {{month}}</a>
                <p>Year: {{year}}</p>
                {{!-- <p>{{formatNumber price style ="currency" amount ="USD"}} </p> --}}
                <p>Sales: ${{amount}}</p>
            </li>
            {{/each}}
        </ol>
    </div>
</div>