<form method="POST" action="/pet/{{petFromDb._id}}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
 <h1> Edit a Pet </h1>
  <label for="name">Pet Name</label>
  <input type="text"name="name" value="{{petFromDb.name}}" />

  <label for="type">Pet Type</label>
    <input type="text" name="type" value="{{petFromDb.type}}" />
  

  <label for="age">Age in Years</label>
    <input type="number" name="age" value="{{petFromDb.age}}" />

  <label for="gender">Gender</label>
    <input type="text" name="gender" value="{{petFromDb.gender}}" />

  <label for="status">Status</label>
   <input type="text" name="status" value="{{petFromDb.status}}" />


  <input type ="submit" name="submit" value="Edit Pet" />
</form>

{{!-- Remove Pet from List --}}
<form method="POST" action ="/pet/{{petFromDb._id}}?_method=DELETE">
<input type ="submit" name ="deleteBtn" value ="Delete">
</form>

<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
