<form method="POST" action="/pet/{{petFromDb._id}}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
 <h1> Edit a Pet </h1>
  <label for="name">Pet Name</label>
  <input type="text"name="name" value="{{petFromDb.name}}" />
{{!-- 
  <label for="type">Pet Type</label>
    <input type="text" name="type" value="{{petFromDb.type}}" />
   --}}
  <select name="type">
    <option value="{{petFromDb.type}}" hidden="hidden" selected="selected">{{petFromDb.type}}</option>
    <option value="Cat" >Cat</option>
    <option value="Dog">Dog</option>
    <option value="Fish">Fish</option>
    <option value="Other">Other</option>
  </select>

  <label for="age">Age in Years</label>
    <input type="number" name="age" value="{{petFromDb.age}}" />

  <label for="gender">Gender</label>
    <select name="gender">
      <option value="{{petFromDb.gender}}" hidden="hidden" selected="selected">{{petFromDb.gender}}</option>
      <option value="Female" >Female</option>
      <option value="Male">Male</option>
    </select>

  <label for="status">Status</label>
    <select name="status">
      <option value="{{petFromDb.status}}" hidden="hidden" selected="selected">{{petFromDb.status}}</option>
      <option value="Adopted" >Adopted</option>
      <option value="Available">Available</option>
    </select>


  <input type ="submit" name="submit" value="Edit Pet" />
</form>

{{!-- Remove Pet from List --}}
<form method="POST" action ="/pet/{{petFromDb._id}}?_method=DELETE">
<input type ="submit" name ="deleteBtn" value ="Delete">
</form>

<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
